Hi {{first-name}},<br/>
<br/>

Here are your pending actions for today:<br/><br/>

* {{reply-to-count}} contacts need replies<br/>
* {{follow-up-count}} contacts need follow up reminders<br/>

<br/>
Stay on top of things easily - <a href="http://alpha.zolodeck.com">click here to complete these action items</a>.<br/>
<br/>
Warm regards,<br/>
Zolodeck,<br/>
Your friendly AI.<br/>

<img src="http://trk.kissmetrics.com/e?_k={{kiss-api}}&_n=Viewed+Email&_p={{user-guid}}"/>
<img src="http://gallery.mailchimp.com/59224bbfb47d91f1de2f93cbc/images/z_logo_white57e806.1.jpg" width="64" height="64"/>