Hi {{first-name}},

Your pending actions on Zolodeck:

* {{reply-to-count}} contacts need replies
* {{follow-up-count}} contacts need follow up reminders

Stay on top of things easily - <a href="http://alpha.zolodeck.com">click here to complete your pending tasks</a>.

Regards,
Zolodeck,
Your automated assistant.

