[submodule "checkouts/clj-facebook-graph"]
	path = checkouts/clj-facebook-graph
	url = https://github.com/maxweber/clj-facebook-graph.git
[submodule "checkouts/storm"]
	path = checkouts/storm
	url = https://github.com/nathanmarz/storm.git
[submodule "checkouts/clj-time"]
	path = checkouts/clj-time
	url = https://github.com/KirinDave/clj-time.git
