[submodule "api/checkouts/clj-facebook-graph"]
	path = api/checkouts/clj-facebook-graph
	url = git@github.com:sivajag/clj-facebook-graph.git
[submodule "api/checkouts/conjure"]
	path = api/checkouts/conjure
	url = git@github.com:amitrathore/conjure.git
[submodule "api/checkouts/demonic"]
	path = api/checkouts/demonic
	url = git@github.com:amitrathore/demonic.git
[submodule "api/checkouts/clj-social-lab"]
	path = api/checkouts/clj-social-lab
	url = git@github.com:sivajag/clj-social-lab.git
[submodule "api/checkouts/zolo-utils"]
	path = api/checkouts/zolo-utils
	url = git@github.com:sivajag/zolo-utils.git
