*~
*#*
lib/*
classes/*
.classpath
.project
.lein-deps-sum
.lein-plugins
config/config.clj
logs/*
log/*
.DS_Store

lib/*
.lein-failures
pom.xml
config/zolo.clj

/devops/nginx/logs/access.log
/devops/nginx/logs/error.log
/devops/nginx/nginx.conf
/devops/nginx/sites-enabled/fe.conf
/zolodeck-api-0.1.0-SNAPSHOT-standalone.jar
/zolodeck-api-0.1.0-SNAPSHOT.jar
