*tmp
*~
*#*
lib/*
classes/*
target/*
.classpath
.project
.lein-deps-sum
.lein-plugins
config/config.clj
.DS_Store

lib/*
.lein-failures
pom.xml
config/zolo.clj
logs/*.log
logs/*.gz
/devops/nginx/logs/access.log
/devops/nginx/logs/error.log
/devops/nginx/nginx.conf
/devops/nginx/sites-enabled/fe.conf
/devops/datomic/data
/devops/datomic/logs
/zolodeck-api-0.1.0-SNAPSHOT-standalone.jar
/zolodeck-api-0.1.0-SNAPSHOT.jar
/logs/developer.log
/devops/datomic/free-transactor.properties
/zolodeck-api-storm-0.1.0-SNAPSHOT-standalone.jar
/zolodeck-api-storm-0.1.0-SNAPSHOT.jar
/.lein-repl-history
/devops/config/prod/logback.xml
/devops/config/prod/zolo.clj
