<div class="span3" id="total-contacts"> 
  <span>
    You have <b><%= total %></b> contacts.
  </span>
</div>

<div class="span9">
  <div class="row" id="strengths-contacts" style="height:36px">
    
    <div class="span3" id="strong-contacts">
      <span class="well1"><b><%= strong %></b> strong contacts.</span> 
    </div>
    
    <div class="span3" id="medium-contacts"> 
      <span class="well1"><b><%= medium %></b> are of medium strength.<span>
    </div>
    
    <div class="span3" id="weak-contacts"> 
      <span  class="well1"><b><%= weak %></b> weak contacts.</span>
    </div>
    
  </div>
</div>
