<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/developer.log</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern> -->
    </encoder>
  </appender>

  <appender name="GELF" class="me.moocar.logbackgelf.GelfAppender">
    <facility>Zolodeck API</facility>
    <graylog2ServerHost>ip-10-101-54-244.ec2.internal</graylog2ServerHost>
    <graylog2ServerPort>12201</graylog2ServerPort>
    <useLoggerName>true</useLoggerName>
    <useThreadName>true</useThreadName>
    <graylog2ServerVersion>0.9.6</graylog2ServerVersion>
    <chunkThreshold>10000</chunkThreshold>
    <messagePattern>%m%rEx</messagePattern>
    <additionalField>trace-id:_trace_id</additionalField>
    <additionalField>guid:_guid</additionalField>
    <additionalField>request-method:_request_method</additionalField>
    <additionalField>uri:_uri</additionalField>
    <additionalField>server-name:_server_name</additionalField>
    <additionalField>ip-address:_ip_address</additionalField>
  </appender>

  <logger name="org.apache" level="ERROR" />
  <logger name="backtype.storm" level="ERROR" />
  <logger name="datomic" level="ERROR" />
  <logger name="com.netflix" level="ERROR" />

  <root level="trace">
    <appender-ref ref="GELF" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
