<div class="row" id="no-of-contacts">

  <div class="span3" id="total-contacts"> 
    <span class="well"> 
      <%= total %> 
    </span>
  </div>

  <div class="span9">
    <div class="row" id="strengths-contacts">

        <div class="span3" id="strong-contacts"> 
          <span class="well"><%= strong %> </span> 
        </div>

        <div class="span3" id="medium-contacts"> 
          <span class="well"><%= medium %> <span>
        </div>

        <div class="span3" id="weak-contacts"> 
          <span class="well"><%= weak %> </span>
        </div>

    </div>
  </div>

</div>

  


 
