<div id="fb-root"></div>

<div class="span12">

  <div class="hero-unit" style="height:260px;">
    <h2>Welcome to ZoloDeck!</h2>
    
    <p>&nbsp;</p>
    
    <img src="img/logo.png" alt="" width="300" height="200" style="float:left">
    
    <p style="padding-top:50px;padding-left:340px;">Stay in touch with your friends.
      <br/><br/> 
      <a id="facebook_login" class="btn btn-primary btn-large" href="#">Login Using Facebook</a>
    </p>      
  </div>
       
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '361942873847116',
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>
  


 
