<div class="span12">
  
  <div class="hero-unit" style="height:260px;">
    <h2>Welcome to ZoloDeck!</h2>
    
    <p>&nbsp;</p>
    
    <img src="img/logo.png" alt="" width="300" height="200" style="float:left">
    
    <p style="padding-top:50px;padding-left:340px;">Stay in touch with your friends.
      <br/><br/> 
      <div id="loginDiv"></div>
    </p>      
  </div>

</div>

<script type="text/javascript">
    gigya.socialize.showLoginUI({ 
	height: 85 ,
        width: 360 ,
        showTermsLink:false, // remove 'Terms' link 
        hideGigyaLink:true, // remove 'Gigya' link 
        buttonsStyle: 'fullLogo', // Change the default buttons design  to "Full Logos" design 
        showWhatsThis: true, // Pop-up a hint describing the Login Plugin, when the user rolls over the Gigya link. 
        containerID: 'loginDiv', // The component will embed itself  inside the loginDiv Div 
        cid:''
    });

    // register for login event
    gigya.socialize.addEventHandlers({
         context: window.currentUser,
         onLogin: Gigya.onLoginHandler,
         onLogout: Gigya.onLogoutHandler
    });

</script>

  


 
